{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/data-table/dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block content %}
<!-- <div id="loader">
    <img src="{% static 'adminpanel/vendors/svg-loaders/rings.svg' %}" class="me-4" style="width: 10rem" alt="audio">
</div> -->
{% url 'add_faq' as add_faq %}
{% include "includes/section.html" with page_title="FAQ " btn_url=add_faq btn_text="Add FAQ" %}

<!-- Contextual classes start -->
<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card py-2 px-2">
                <div class="card-content">
                    <!-- table contextual / colored -->
                    <div class="table-responsive">
                        {% if viewfaq %}
                            <table class="table table table-striped text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>Questions</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in viewfaq %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{i.Questions|safe|truncatechars:40}}</td>
                                            
                                            {% if request.user.user_type == "SUPERADMIN"%}
                                                <td>
                                                    <a href="{% url 'edit_faq' i.id %}" class="mx-1">
                                                        <span class="fa-fw select-all fas"></span>
                                                    </a>
                                                    <a href="{% url 'view_faq_detail' i.id %}" class="mx-1">
                                                        <span class="fa-fw select-all fas"></span>
                                                    </a>
                                                    <a href="#" class="mx-1 btn-delete" data-id="{{ i.id }}">
                                                        <span class="fa-fw select-all fas"></span>
                                                    </a>
                                                </td>
                                            {% endif %}

                                            {% if request.user.user_type == "SUBADMIN" %}
                                                <td>
                                                    {% for i in m_check %}
                                                        {% if i.edit == True %}
                                                            <a href="{% url 'edit_faq' i.id %}" class="mx-1">
                                                                <span class="fa-fw select-all fas"></span>
                                                            </a>
                                                        {% endif %}
                                                        {% if i.view == True %}
                                                            <a href="{% url 'view_faq_detail' i.id %}" class="mx-1">
                                                                <span class="fa-fw select-all fas"></span>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <div class="text-center">
                            <strong style="font-size: 1.5em;">No Records</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form method="POST" action="{% url 'delete_faq' %}" class="mx-1" style="display: inline;" id="delete_form">
    {% csrf_token %}
    <input type="hidden" name="faq" value="" id="faq">
</form>
{% endblock content %}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/data-table/dataTables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function (e) {
            e.preventDefault()
            const ele = $(this)
            let id = ele.data('id')
            Swal.fire({
            title: 'Delete Questions And Answers',
            text: 'Are You Sure ?',
            confirmButtonColor: 'rgb(225, 0, 127)',
            showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#faq').val(id)
                    $('#delete_form').submit()
                }
            })
         })
    })
</script>
{% endblock script %}