{% extends 'base.html' %}
{% load static %}

{% block content%}

{% url 'subscription_benefit' as view_collections %}
{% include "includes/section.html" with page_title="Add Subscription Benefit" btn_url=view_collections btn_text="Back" %}

<section id="basic-vertical-layouts">
    <div class="row match-height m-auto">
        <div class="col-md-12 col-12 p-0">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="POST" id="myForm">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">                       
                                  <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Subscription Benefit</label>
                                            <input type="text" class="form-control" placeholder="Subscription Benefit" name="subscription_benefit" id="original_price" required>
                                        </div>
                                    </div>
                                    <div class="col-6 form-group">
                                        <label>Status</label>
                                        <select class="form-select" name="is_active" required>
                                            <option value="" disabled selected>Please Select</option>
                                            <option value="True">Active</option>
                                            <option value="False">Deactive</option>
                                        </select>
                                    </div>   
                                  <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                            class="btn btn-primary me-1 mx -3 mb-1 show-loader">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#myForm").validate({
            rules: {
                name: {
                    required: true,
                    maxlength: 55
                },
                priority: {
                    required: true,
                    digits: true
                },
                subscription_benefit: {
                    required: true,
                    maxlength: 50
                },
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    })
</script>
{% endblock script %}