{% extends 'base.html' %}
{% load static %}

{% block content%}

{% url 'subscription_plan' as view_collections %}
{% include "includes/section.html" with page_title="Edit Subscription Plan" btn_url=view_collections btn_text="Back" %}

<section id="basic-vertical-layouts">
    <div class="row match-height m-auto">
        <div class="col-md-12 col-12 p-0">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="POST" id="myForm">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><h5>Select Subscription Benefits</h5></label>
                                            <br />
                                            <label><h6>Select All</h6></label>
                                            <input type="checkbox" onClick="toggle(this)" />
                                            <br />
                                            {% for benefit in subscription_benefit %}
                                            <label>{{ benefit.title }}</label>
                                            <input type="checkbox" id="" name="subscription_benefit" {% if benefit.id in benefit_list %} checked {% endif %} value="{{ benefit.id }}">
                                            <br />
                                            {% endfor %}                  
                                      </div>
                                    </div>
                                    {% comment %}<div class="col-6 form-group">
                                        <label>Subscription Type</label>
                                        <select class="form-select" name="subscription_type">
                                            <option value="Annual" {% if subscription.plan_type == "Annual" %} selected {% endif %} >Annual</option>
                                            <option value="Bi-Annual" {% if subscription.plan_type == "Bi-Annual" %} selected {% endif %} >Bi-Annual</option>
                                            <option value="Quarterly" {% if subscription.plan_type == "Quarterly" %} selected {% endif %} >Quarterly</option>
                                            <option value="Monthly" {% if subscription.plan_type == "Monthly" %} selected {% endif %} >Monthly</option>
                                        </select>
                                    </div>{% endcomment %}
                                    <div class="col-6 form-group">
                                        <label>Status</label>
                                        <select class="form-select" name="is_active" required>
                            
                                            <option value="True" {% if subscription.is_active %} selected {% endif %} >Active</option>
                                            <option value="False" {% if not subscription.is_active %} selected {% endif %} >Deactive</option>
                                        </select>
                                    </div>
                                    {% comment %}<div class="col-md-6">
                                        <div class="form-group">
                                            <label>Original Price</label>
                                            <input type="text" class="form-control" value="{{ subscription.original_price }}" placeholder="Original Price" name="original_price" id="original_price" required>
                                        </div>
                                    </div>{% endcomment %}
                                   
    
                                    {% comment %}<div class="col-md-6">
                                        <div class="form-group">
                                            <label>Offer Price</label>
                                            <input type="text" class="form-control" value="{{ subscription.offer_price }}" placeholder="Offer Price" name="offer_price" id="offer_price">
                                        </div>
                                    </div>{% endcomment %}
                                   


                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                            class="btn btn-primary me-1 mx -3 mb-1 show-loader">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#myForm").validate({
            rules: {
                original_price: {
                    required: true,
                    number: true
                },
                offer_price: {
                    required: true,
                    number: true
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    })
</script>




<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('subscription_benefit');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
{% endblock script %}