{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% load static %}

{% block content %}

{% url 'subscription_plan' as view_shop_products %}
{% include "includes/section.html" with page_title="Subscription Plan Details" btn_url=view_shop_products btn_text="Back" %}


<main class="main content-wrapper container">
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        
                        <div class="tab-content pt-4">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="row">
                                    <div class="col-lg-12 col-md-4 label">
                                        <label for="" class="view-label">Name</label>
                                        <span class="view-label-value">{{ subscriptions.plan_type }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                        <label for="" class="view-label">Original Price</label>
                                        <span class="view-label-value">{{ subscriptions.original_price }}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-4 label">
                                        <label for="" class="view-label">Offer Price</label>
                                        <span class="view-label-value">{{ subscriptions.offer_price }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-4 label">
                                        <label for="" class="view-label">Status</label>
                                        <span class="view-label-value">{% if subscriptions.is_active %} <h6>Active</h6> {% else %} <h6>Deactive</h6>   {% endif %}  </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-4 label">
                                        <label for="" class="view-label">Subscription Plan Benefits</label>
                                        {% for benefit in benefits %}
                                        <span class="view-label-value">{{ benefit.benefit.title }}</span>
                                        <br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

