<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password - Mega Dolls</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'adminpanel/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'adminpanel/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/css/pages/auth.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/vendors/toastify/toastify.css' %}">
    <script src="{% static 'adminpanel/vendors/toastify/toastify.js' %}"></script>
    <script src="{% static  'common/common-function.js' %}"></script>
</head>

<body>
    {% for message in messages %}
    <script>
        hideMyToast()
        Toastify({
            text: "{{ message }}",
            duration: 3000,
            backgroundColor: "{{ message.tags }}",
            close: true,
        }).showToast();
    </script>
    {% endfor %}
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-6 col-12 m-auto">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{% url 'dashboard' %}"><img src="{% static 'adminpanel/images/logo/logo.svg' %}" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">Forgot Password</h1>
                    <p class="auth-subtitle mb-5">Enter your registered email and we will send you new password.</p>

                    <form method="POST" id="myForm">
                        {% csrf_token %}
                        <div class="form-group position-relative mb-4">
                            <input type="email" class="form-control form-control-xl" placeholder="Email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5" id="submitButton">Send</button>
                    </form>
                    <div class="text-center mt-5 text-lg fs-4">
                        <p class='text-gray-600'>
                            Remember your account? 
                            <a href="{% url 'login' %}" class="font-bold">
                                Log in
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'adminpanel/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>
    <script>
        $("#myForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
    </script>
</body>

</html>