{% load static %}
<header class="mb-5">
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="{% url 'dashboard' %}"><img src="{% static 'adminpanel/images/logo/logo.svg' %}" alt="Logo" srcset=""></a>
            </div>
            <div class="header-top-right">

                <div class="dropdown">
                    <a href="#" class="user-dropdown d-flex dropend" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="avatar avatar-md2">
                            <img src="{% static 'adminpanel/images/faces/1.jpg' %}" alt="Avatar">
                        </div>
                        <div class="text">
                            <h6 class="user-dropdown-name">{{ request.user }}</h6>
                            <p class="user-dropdown-status text-sm text-muted"></p>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>

                <!-- Burger button responsive -->
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="">
            <ul>
                <li class="menu-item  ">
                    <a href="{% url 'dashboard' %}" class='menu-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-item  ">
                    <a href="{% url 'view_email_templates' %}" class='menu-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Email Template Management</span>
                    </a>
                </li>

                <li class="menu-item  ">
                    <a href="{% url 'view_users' %}" class='menu-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>User Management</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'view_social_media' %}" class='menu-link'>
                        <i class="bi bi-stack"></i>
                        <span>Social Media Management</span>
                    </a>
                </li>

                <li class="menu-item has-sub">
                    <a href="#" class='menu-link'>
                        <i class="bi bi-stack"></i>
                        <span>Product Management</span>
                    </a>
                    <div class="submenu ">
                        <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                        <div class="submenu-group-wrapper">
                            <ul class="submenu-group">

                                <li class="submenu-item  ">
                                    <a href="{% url 'view_categories' %}" class='submenu-link'>
                                        <span>Categories</span>
                                    </a>
                                </li>

                                <li class="submenu-item  ">
                                    <a href="{% url 'view_subcategories' %}" class='submenu-link'>
                                        <span>Sub Categories</span>
                                    </a>
                                </li>

                                <li class="submenu-item  ">
                                    <a href="{% url 'view_dress_types' %}" class='submenu-link'>
                                        <span>Dress Types</span>
                                    </a>
                                </li>

                            </ul>

                            <!-- <ul class="submenu-group">
                                            <li class="submenu-item  ">
                                                <a href="component-modal.html" class='submenu-link'>Modal</a>
                                            </li>

                                            <li class="submenu-item  ">
                                                <a href="component-navs.html" class='submenu-link'>Navs</a>
                                            </li>

                                        </ul> -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>