{% load static %}
<section class="featured-sec bg-primary-light">
    <div class="container">
        <div class="sec-head">
            <h4>Featured In</h4>
        </div>
        <div class="featured-list">
            <ul>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-1.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-2.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-3.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-4.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-5.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-6.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-7.png' %}"></a></li>
                <li><a href="javascript:void(0);"><img src="{% static 'web_app/images/featured-8.png' %}"></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="download-sec">
    <div class="container">
        <div class="downloads-content">
            <h4>Download the app now</h4>
            <h2>Download the app with everything for free.</h2>
            <div class="downloads-action">
                <a href="javascript:void(0);">
                    <img src="{% static 'web_app/images/appstore.svg' %}">
                </a>
                <a href="javascript:void(0);">
                    <img src="{% static 'web_app/images/playstore.svg' %}">
                </a>
            </div>
        </div>
    </div>
</section>