<!DOCTYPE html>
<html>
    {% load static %}
<head>
<meta charset="utf-8">
<title>
    {% block title %}{% endblock title %}
</title>
<!--responsive-meta-here-->
<meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--responsive-meta-end-->
<link rel="icon" href="{% static  'web_app/images/favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
<link rel="stylesheet" href="{% static  'web_app/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/fontawesome-all.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/fontawesome.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/fonts/remixicon.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/style.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/responsive.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static  'web_app/toastify/toastify.css' %}">
<script src="{% static  'web_app/toastify/toastify.js' %}"></script>
</head>
<body>
    {% for message in messages %}
    <script>
        myToast("{{ message }}", "{{ message.tags }}")
    </script> 
    {% endfor %}