<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'web_sign_up' %}">web_sign_up</a>
    <br><br>
    <a href="{% url 'web_login' %}">web_login</a>
    <br><br>
    <a href="{% url 'web_logout' %}">web_logout</a>
    <br><br>
    <a href="{% url 'home' %}">home</a>
    <br><br>
    <a href="{% url 'about_us' %}">about_us</a>
    <br><br>
    <a href="{% url 'contact_us' %}">contact_us</a>
    <br><br>
    <a href="{% url 'faq' %}">faq</a>
    <br><br>
    <a href="{% url 'privacy_policy' %}">privacy_policy</a>
    <br><br>
    <a href="{% url 'shipping_return_policy' %}">shipping_return_policy</a>
    <br><br>
    <a href="{% url 'term_condition' %}">term_condition</a>
    <br><br>
    <a href="{% url 'category_subcategory_dropdown' %}">category_subcategory_dropdown</a>
    <br><br>
    <a href="{% url 'create_detail' %}">create_detail</a>
    <br><br>
    <a href="{% url 'create' %}">create</a>
    <br><br>
    <!-- <a href="{% url 'create_detail' %}">create_detail</a>
    <br><br> -->
    <a href="{% url 'shop_doll_detail' %}">shop_doll_detail</a>
    <br><br>
    <a href="{% url 'web_reset_password' %}">web_reset_password</a>
    <br><br>
    {% comment %}
    <a href="{% url 'play_color' %}">play_color</a>
    {% endcomment %}
    <br><br>
    <a href="{% url 'play' %}">play</a>
    <br><br>
    <a href="{% url 'shop_dolls_sets' %}">shop dolls sets</a>
    <br><br>
    <a href="{% url 'shop_dolls' %}">shop dolls</a>
    <br><br>
    <a href="{% url 'shop_dress_sets' %}">shop dress sets</a>
    <br><br>
    <a href="{% url 'album_detail' %}">album detail</a>
    <br><br>
    <a href="{% url 'album' %}">album</a>
    <br><br>
    {% comment %}
    <a href="{% url 'blog_detail' %}">blog_detail</a>
    <br><br>
    {% endcomment %}
    <a href="{% url 'blog' %}">blog</a>
    <br><br>
    <a href="{% url 'view_cart' %}">cart</a>
    <br><br>
    <a href="{% url 'my_account_address' %}">my_account_address</a>
    <br><br>
    {% comment %}
    <a href="{% url 'my_account_favorites' %}">my_account_favorites</a>
    {% endcomment %}
    <br><br>
    <a href="{% url 'my_account_order_detail' %}">my_account_order_detail</a>
    <br><br>
    <a href="{% url 'my_account_order' %}">my_account_order</a>
    <br><br>
    <a href="{% url 'my_account_subscription' %}">my_account_subscription</a>
    <br><br>
    <a href="{% url 'my_account_wallet' %}">my_account_wallet</a>
    <br><br>
    <a href="{% url 'view_wishlist' %}">my_account_wishlist</a>
    <br><br>
    <a href="{% url 'order_confirmation' %}">order_confirmation</a>
    <br><br>
    <a href="{% url 'payment' %}">payment</a>
    <br><br>
    <a href="{% url 'previous_shero' %}">previous_shero</a>
    <br><br>
    <a href="{% url 'web_profile_edit' %}">profile_edit</a>
    <br><br>
    <a href="{% url 'web_profile' %}">profile</a>
    <br><br>
    <a href="{% url 'subscription' %}">subscription</a>
    <br><br>
</body>
</html>