{% comment %} {% include 'sloper-tool/includes/head.html' %} {% endcomment %}

{% include 'sloper-tool/includes/header.html' %}
{% load static %}

{% include '../includes/header.html' %}

{% include 'sloper-tool/includes/sidebar.html' %}

{% block content %}
{% endblock content %}

{% comment %} {% include 'sloper-tool/includes/footer.html' %} {% endcomment %}
{% include '../includes/js.html' %}
{% block script %}{% endblock script %}
<!-- js-->
{% comment %} {% include 'sloper-tool/includes/js.html' %} {% endcomment %}
<!-- end js-->