{% extends 'base.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/vendors/fontawesome/all.min.css' %}">
{% endblock css %} 
{% block content %}
{% include "includes/section.html" with page_title="Token And Key Management" %}
<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card py-2 px-2">
                <div class="card-content">
                    <div class="table-responsive">
                        {% if tokens_and_keys %}  
                            <table class="table table table-striped text-center" id="myTable">        
                                <thead>
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>Name</th>
                                        <th>Token And Key</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for token_and_key in tokens_and_keys %} 
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ token_and_key.name }}</td>
                                            <td>{{ token_and_key.key }}</td>
                                            {% if request.user.user_type == "SUPERADMIN" %}
                                            <td>
                                                <a href="{% url 'edit_token_and_key' token_and_key.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a> 
                                            </td>
                                            {% endif %}
                                            {% if request.user.user_type == "SUBADMIN" %}
                                                <td>
                                                    {% for i in m_check %}
                                                        {% if i.edit == True %}
                                                            <a href="{% url 'edit_token_and_key' token_and_key.id %}" class="mx-1">
                                                                <span class="fa-fw select-all fas"></span>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
                                        </tr> 
                                    {% endfor %} 
                                </tbody> 
                                {% else %} 
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <strong style="font-size: 1.5em;">No Records</strong>
                                    </td>
                                </tr> 
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock content %}