{% extends 'web_app_base.html' %}
{% load static %}
{% block title %}Play Color{% endblock title %}
{% block content %}
<div class="wraper-inner">
    <section>
        <img src="{{ selected_color.banner_img.url }}" alt="Banner Image">
    </section>

    <section class="shops-list-sec bg-pattern">
        <div class="container">
            <div class="shops-list-head">
                <h4>Imagine - Play</h4>
                {% include 'includes/imagine-product/imagine_filter.html' %}
            </div>
            <div class="row">
                {% for imagine_product in imagine_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="product-item">
                        <a href="javascript:void(0);" class="btn btn-primary-light btn-square product-share-btn"><i
                                class="ri-share-line"></i></a>
                        <div class="product-slider owl-carousel owl-theme">
                            {% for product_image in imagine_product_images %}
                                {% if product_image.imagine_product_id == imagine_product.id %}
                                    <div class="item">
                                        <div class="product-slider-item">
                                            <img src="{{ product_image.primary_img.url }}">
                                        </div>
                                    </div>
                                    {% comment %} {% for image_sub_table in image_sub_tables %}
                                        {% if product_image.id == image_sub_table.imagine_product_image_id %}
                                            <div class="item">
                                                <div class="product-slider-item">
                                                    <img src="{{ image_sub_table.images.url }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %} {% endcomment %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="product-item-content">
                            <h5 class="product-name mb-3"><a href="javascript:void(0);">{{ imagine_product.name }}</a>
                            </h5>
                            <div class="product-actions">
                                <a href="javascript:void(0);" class="btn btn-primary-light btn-square"><i
                                        class="ri-heart-line"></i></a>
                                <a href="{% url 'imagine_detail' imagine_product.slug %}" class="btn btn-primary">View and Download</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="text-center">
                    <h4>No Records</h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% comment %} {% include 'includes/featured_and_download.html' %} {% endcomment %}
</div>
{% endblock content %}
