{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block page_title %}
Edit User Form
{% endblock page_title %}

{% block content%}
{% url 'view_super_admins' as view_super_admins %}
{% include "includes/section.html" with page_title="Edit Super Admin" btn_url=view_super_admins btn_text="Back" %}

<link rel="stylesheet" href="{% static 'adminpanel/intl-tel-input-master/build/css/intlTelInput.css' %}">
<section id="basic-vertical-layouts">
    <div class="row match-height m-auto">
        <div class="col-md-12 col-12 p-0">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="POST" id="myForm">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="first-name-icon">User Name</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control"
                                                    placeholder="Name"
                                                    name="name" value="{{ user.name }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="email-id-icon">Email</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="Email" name="email" value="{{ user.email }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <div class="position-relative">
                                                <input type="hidden" name="country_code" id="country-code" readonly>
                                                <input type="text" class="form-control" id="mob-code" placeholder="Mobile" name="mobile" value="{{ user.mobile }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-4 form-group">
                                        <label for="basicInput">Status</label>
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect" name="is_active" required>
                                                <option value="True" 
                                                {% if user.is_active %} selected {% endif %}>
                                                    Active
                                                </option>
                                                <option value="False" 
                                                {% if not user.is_active %} selected {% endif %}>
                                                    Deactive
                                                </option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary me-1 mx -3 mb-1" id="submitButton">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'resend_mail' %}" method="post" id="change_password_form">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="{{ user.email }}">
                            <div class="col-6">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="submit" class="form-control btn btn-success" value="Change Password" id="formSubmit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>
<script src="{% static 'adminpanel/templates/user_management/validation.js' %}"></script>
<script src="{% static 'adminpanel/intl-tel-input-master/build/js/intlTelInput.min.js' %}"></script>
<script>
    const input = document.querySelector("#mob-code");
    const inst = window.intlTelInput(input, ({}));
    function addCountryCodeToFrom() {
        let information = inst.getSelectedCountryData()['dialCode'];
        $('#country-code').val(information);
        
    }
</script>
<script>
    $('#submitButton').on('click', function (e) {
        e.preventDefault()
        Swal.fire({
            title: 'Update Super Admin',
            text: 'Are You Sure ?',
            confirmButtonColor: 'rgb(225, 0, 127)',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                addCountryCodeToFrom();
                $('#myForm').submit()
            }
        })
    })
</script>
{% endblock script %}