{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/intl-tel-input-master/build/css/intlTelInput.css' %}">
<style>
    .iti--allow-dropdown {
        width: 100%;
    }
</style>
{% endblock css %}

{% block content%}

{% url 'view_sub_admins' as view_sub_admins %}
{% include "includes/section.html" with page_title="Add Sub Admin" btn_url=view_sub_admins btn_text="Back" %}

<section id="basic-vertical-layouts">
    <div class="row match-height m-auto">
        <div class="col-md-12 col-12 p-0">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="POST" id="myForm">
                            {% csrf_token %}
                            <div class="form-body tbl_btm_line">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="first-name-icon">User Name</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="Enter User Name"
                                                    name="name" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="email-id-icon">Email</label>
                                            <div class="position-relative">
                                                <input type="text" value="" class="form-control" placeholder="Email" name="email"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="mobile-id-icon">Mobile Number</label>
                                            <div class="position-relative">
                                                <input type="hidden" name="country_code" id="country-code" readonly>
                                                <input type="tel" id="mob-code" class="form-control"
                                                    placeholder="Mobile" value="" name="mobile_number">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row sub-admin-permission-header">
                                    <div class="col-md-3">Module</div>
                                    <div class="col-md-1">All</div>
                                    <div class="col-md-2">Add </div>
                                    <div class="col-md-2">Edit </div>
                                    <div class="col-md-2">Show </div>
                                    <div class="col-md-2">Delete </div>
                                </div>
                                {% for i in module_list %}
                                    <div class="parent-check">
                                        <div class="row bg-gry">
                                            <div class="col-md-4 child-main-box">
                                              {{i.parent.name}}
                                                <input type="checkbox" name="checkbox[{{i.parent.name|cut:" "}}]" id="checks" class="parent-check-box" value="{{i.parent.id}}" style="height:20px; width:20px">
                                            </div>       
                                             {% if i.parent.add == True %}  
                                            <div class="col-md-2 child-sub">
                                                 
                                               <input type="checkbox"  name="checkbox[{{i.parent.name|cut:" "}}][add]" class="V child-sub-box" value="1"  style="height:20px; width:20px">
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %}
                                            {% if i.parent.edit == True %}
                                            <div class="col-md-2 child-sub">
                                                <input type="checkbox" name="checkbox[{{i.parent.name|cut:" "}}][edit]" class="V child-sub-box" value="1"  style="height:20px; width:20px">
                                            </div>
                                             {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %} 
                                            {% if i.parent.view == True %}   
                                            <div class="col-md-2 child-sub"> 
                                                
                                                <input type="checkbox" name="checkbox[{{i.parent.name|cut:" "}}][show]" class="V child-sub-box" value="1"  style="height:20px; width:20px">
                                            </div>
                                             {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %}
                                            {% if i.parent.delete == True %}  
                                            <div class="col-md-2 child-sub">
                                                <input type="checkbox" name="checkbox[{{i.parent.name|cut:" "}}][delete]" class="V child-sub-box" value="1"  style="height:20px; width:20px">
                                            </div>
                                             {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %}  
                                        </div>

                                            {% comment %} ------------ {% endcomment %}
                                       
                                        {% for j in i.child %}
                                        <div class="row child">
                                            <div class="col-md-4 child-main-box"> 
                                               <p class="chlid">{{j}}</p>
                                               <input type="checkbox" id="checksss" name="checkbox[{{j|cut:" "}}]" value="{{j.id}}" class="child-check" style="height:20px; width:20px;">    
                                            </div>
                                          
                                           {% if j.add == True %} 
                                            <div class="col-md-2 child-sub">   
                                                <input type="checkbox" id="add_" name="checkbox[{{j|cut:" "}}][add]" value="1" class="child-check child-sub-box"  style="height:20px; width:20px">
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %}
                                            {% if j.edit == True %}   
                                            <div class="col-md-2 child-sub">
                                                  
                                                <input type="checkbox" id="edit_"  name="checkbox[{{j|cut:" "}}][edit]" value="1" class="child-check child-sub-box"  style="height:20px; width:20px">
                                               
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %} 
                                            {% if j.view == True %}  
                                            <div class="col-md-2 child-sub">
                                                   
                                                <input type="checkbox" id="view_"  name="checkbox[{{j|cut:" "}}][show]" value="1" class="child-check child-sub-box"  style="height:20px; width:20px">
  
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            
                                            {% endif %}
                                            {% if j.delete == True %}
                                            <div class="col-md-2 child-sub">  
                                                <input type="checkbox"  id="delete_"  name="checkbox[{{j|cut:" "}}][delete]" value="1" class="child-check child-sub-box"  style="height:20px; width:20px"> 
                                            </div> 
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>  
                                            {% endif %}   
                                        </div>  
                                        {% endfor %}  
                                    </div>
                                    {% endfor %}
            
                                    <div class="position-relative-flex pt-4">
                                        <button type="button" id="formSubmit"
                                            class="btn btn-primary show-loader">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>
<script src="{% static 'adminpanel/templates/user_management/validation.js' %}"></script>
<script src="{% static 'adminpanel/intl-tel-input-master/build/js/intlTelInput.min.js' %}"></script>
<script>
    $(document).ready(function() {
        const input = document.querySelector("#mob-code");
        const inst = window.intlTelInput(input, ({}));
        function addCountryCodeToFrom() {
            let information = inst.getSelectedCountryData()['dialCode'];
            $('#country-code').val(information);
            $('#myForm').submit();
        };

        $('#formSubmit').on('click', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            Swal.fire({
                title: 'Add Sub Admin',
                text: 'Are You Sure ?',
                confirmButtonColor: 'rgb(225, 0, 127)',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    addCountryCodeToFrom()
                }
            })
        })
    })
</script>
<script>
    $('.child-check').on('change', function() {
        if($(this).is(":checked")) {
            $(this).closest('.parent-check').find('.parent-check-box').prop('checked', true)
        }
    })

    $('.child-sub-box').attr('disabled', 'disabled')
    $('.child-main-box input').on('change', function() {
        if($(this).is(':checked')) {
            $(this).parent().siblings('.child-sub').each(function() {
                $(this).find('.child-sub-box').removeAttr('disabled')
                $(this).find('.child-sub-box').removeAttr('readonly', true)
            })
        } else {
            $(this).parent().siblings('.child-sub').each(function() {
                $(this).find('.child-sub-box').attr('disabled', 'disabled')
                $(this).find('.child-sub-box').attr('readonly', true)
            })
        }
    })
</script>
{% endblock script %}
