{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block page_title %}
Edit User Form
{% endblock page_title %}

{% block content%}

{% url 'view_sub_admins' as view_sub_admins %}
{% include "includes/section.html" with page_title="Edit Sub Admin" btn_url=view_sub_admins btn_text="Back" %}

<section id="basic-vertical-layouts">
    <div class="row match-height m-auto">
        <div class="col-md-12 col-12 p-0">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="POST" id="myForm">
                            {% csrf_token %}
                            <div class="form-body  tbl_btm_line">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="first-name-icon">User Name</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control"
                                                    placeholder="Input with icon left" name="name"
                                                    value="{{ sub_admin.name }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="email-id-icon">Email</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="Email" name="email"
                                                    value="{{sub_admin.email }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="mobile"
                                                    name="mobile" value="{{sub_admin.mobile }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-4 form-group">
                                        <label for="basicInput">Status</label>
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect" name="is_active" required>
                                                <option value="True" {% if sub_admin.is_active %} selected {% endif %}>
                                                    Active
                                                </option>
                                                <option value="False" {% if not sub_admin.is_active %} selected {% endif %}>
                                                    Deactive
                                                </option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row d-flex align-item-center">
                                    <div class="col-md-3">Module</div>
                                    <div class="col-md-2">Add </div>
                                    <div class="col-md-2">Edit</div>
                                    <div class="col-md-2">Show </div>
                                    <div class="col-md-2"> Delete </div>
                                </div>

                                    {% for i in module_list %}
                                        <div class="row bg-gry">
                                            <div class="col-md-4">
                                              {{i.parent.name}}
                                            </div>
                                           
                                             {% if i.parent.add == 'true' %}  
                                            <div class="col-md-2">
                                                
                                                
                                                <input type="checkbox" {% for x in m_check %} {% if i.parent == x.module %}  {% if x.module.add == true %} checked  {% endif %}{% endif %}{% endfor %} name="checkbox[{{i.parent.name|cut:" "}}][add]" value="1"   style="height:20px; width:20px">
                                            </div>
                                            {% else %}
                                            <div class="col-md-2">
                                            </div>
                                            {% endif %}
                                            {% if i.parent.edit == 'true' %}
                                            <div class="col-md-2">
                                                
                                                <input type="checkbox" {% for x in m_check %} {% if i.parent == x.module %} {% if x.module.edit == 'true' %} checked  {% endif %}{% endif %}{% endfor %}  name="checkbox[{{i.parent.name|cut:" "}}][edit]" value="1"  style="height:20px; width:20px">
                                            </div>
                                             {% else %}
                                            <div class="col-md-2">
                                            </div>
                                            {% endif %} 
                                            {% if i.parent.view == 'true' %}   
                                            {% comment %} {% for x in m_check %} 
                                               
                                            {% if i.parent == x.module %}
                                                {{i.parent}}--------
                                            {% endif %}
                                            {% endfor %} {% endcomment %}
                                            <div class="col-md-2"> 
                                                
                                                
                                                <input type="checkbox" {% for x in m_check %} {% if i.parent == x.module %}  {% if x.module.view == 'true' %} checked  {% endif %}{% endif %}{% endfor %}  name="checkbox[{{i.parent.name|cut:" "}}][show]" value="1"  style="height:20px; width:20px">
                                            </div>
                                             {% else %}
                                            <div class="col-md-2">
                                            </div>
                                            {% endif %}
                                            {% if i.parent.delete == 'true' %}  
                                            <div class="col-md-2">
                                                <input type="checkbox" {% for x in m_check %} {% if i.parent == x.module %}  {% if x.module.delete == 'true' %} checked  {% endif %}{% endif %}{% endfor %}  name="checkbox[{{i.parent.name|cut:" "}}][delete]" value="1"  style="height:20px; width:20px">
                                            </div>
                                             {% else %}
                                            <div class="col-md-2">
                                            </div>
                                            {% endif %}  
                                        </div>

                                            {% comment %} ------------ {% endcomment %}
                                       
                                            {% for j in i.child %}
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                           {% comment %} {% if j.is_child == true %}  
                                              <input type="checkbox" class="main-module" name="checkbox[{{j.name|cut:" "}}]" value="1" style="height:20px; width:20px">
                                            {% endif %} {% endcomment %}
                                            </div>
                                            {% if j.add == 'true' %} 
                                            <div class="col-md-2 child-sub">  
                                                {% comment %} 
                                                  {% for x in m_check %} {% if j == x.module %}
                                                  {{x}}==={{j}}
                                                  {{x.module.add}}=====

                                                  {% endif %}{% endfor %} {% endcomment %}
                                                <input type="checkbox" {% for x in m_check %} {% if j == x.module %} {% if x.module.edit == 'true' %} checked  {% endif %}{% endif %}{% endfor %}  name="checkbox[{{j.parent.name|cut:" "}}][add]" value="1"  style="height:20px; width:20px" class="child-sub-box">
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %}
                                            {% if j.edit == 'true' %}   
                                            <div class="col-md-2 child-sub">
                                                  {{j.edit}}
                                            
                                               <input type="checkbox" {% if j in m_check %} {% if j.edit == 'true' %} checked  {% endif %}{% endif %} name="checkbox[{{j.name|cut:" "}}][edit]" value="1"  style="height:20px; width:20px" class="child-sub-box">
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            {% endif %} 
                                            {% if j.view == 'true' %}  
                                            {{j.view}}
                                            <div class="col-md-2 child-sub">
                                    
                                                <input type="checkbox" {% if j in m_check %}  {% if j.view == 'true' %} checked  {% endif %}{% endif %}  name="checkbox[{{j.name|cut:" "}}][show]" value="1"  style="height:20px; width:20px" class="child-sub-box">
                                            </div>
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>
                                            
                                            {% endif %}
                                            {% if j.delete == 'true' %}
                                            {{j.delete}}------
                                            <div class="col-md-2 child-sub">  
                                    
                                                <input type="checkbox" {% if j in m_check %} {% if j.delete == 'true' %} checked  {% endif %}{% endif %}  name="checkbox[{{j.name|cut:" "}}][delete]" value="1"  style="height:20px; width:20px" class="child-sub-box">
                                            </div> 
                                            {% else %}
                                            <div class="col-md-2 child-sub">
                                            </div>  
                                            {% endif %}   
                                        </div>  
                                        {% endfor %}  

                                    {% endfor %}
                                    </div>
                                </div>
                                <form action="{% url 'resend_mail' %}" method="post" id="change_password_form">
                                    {% csrf_token %}
                                    <input type="hidden" name="email" value="{{ sub_admin.email }}">
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative-flex">
                                                <input class="btn btn-info" type="submit" class="form-control btn btn-success"
                                                    value="Change Password">

                                                <button type="button" class="btn btn-primary"
                                                    id="submitButton">Submit</button>
                                           </div>
                                    </div>
                                </form>
                            </div>
                          
                        </form>
                        
                    </div>
                  
                </div>
                  
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>
<script src="{% static 'adminpanel/templates/user_management/validation.js' %}"></script>
<script>
    $('#submitButton').on('click', function (e) {
        e.preventDefault()
        Swal.fire({
            title: 'Update Sub Admin',
            text: 'Are You Sure ?',
            confirmButtonColor: 'rgb(225, 0, 127)',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $('#myForm').submit()
            }
        })
    })

    $(document).on('change', '.main-module', function() {
        if ($(this).is(':checked')) {
            $(this).parent().parent().find('input[type=checkbox]').prop('checked', true)
        } else {
            $(this).parent().parent().find('input[type=checkbox]').prop('checked', false)
        }
    })
</script>
<script>
    $('.child-sub-box').attr('disabled', 'disabled')
    $('.child-main-box input').on('change', function() {
        if($(this).is(':checked')) {
            $(this).parent().siblings('.child-sub').each(function() {
                $(this).find('.child-sub-box').removeAttr('disabled')
                $(this).find('.child-sub-box').removeAttr('readonly', true)
            })
        } else {
            $(this).parent().siblings('.child-sub').each(function() {
                $(this).find('.child-sub-box').attr('disabled', 'disabled')
                $(this).find('.child-sub-box').attr('readonly', true)
            })
        }
    })
</script>
{% endblock script %}