{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% load static %}

{% block css %}
<style>
    .error {
        color: red
    }
</style>
{% endblock css %}

{% block content %}

{% url 'view_sub_admins' as view_sub_admins %}
{% include "includes/section.html" with page_title="View Sub Admin" btn_url=view_sub_admins btn_text="Back" %}


<main class="main content-wrapper container">
    <section class="section profile">
        <div class="row">
            {% if sub_admin.profile_img %}
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card d-flex flex-column align-items-center">
                        <img src="{{ sub_admin.profile_img.url }}" alt="Profile" class="rounded-circle mb-2" width="60%"
                            height="145px">
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered text-center">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Profile Details</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-4">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">: {{ sub_admin.name }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">User Type</div>
                                    <div class="col-lg-9 col-md-8">: {{ sub_admin.user_type }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Mobile</div>
                                    <div class="col-lg-9 col-md-8">: {{ sub_admin.mobile }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">: {{ sub_admin.email }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block script %}
{% endblock script %}