{% extends 'base.html' %}
{% load static %} 
{% block content %} 
{% url 'order_management' as order_management %}
{% include "includes/section.html" with page_title="Refund To Customer" btn_url=order_management btn_text="Back" %}
<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form method="POST" class="row" id="myForm"> 
                            {% csrf_token %}
                            {% if product_order.paid_by_wallet > 0 %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Refund Amount to Wallet</label>
                                    <input type="text" class="form-control" name="wallet_amount" value="{{ product_order.paid_by_wallet }}">
                                </div>
                            </div>
                            {% endif %}
                            {% if product_order.paid_by_stripe > 0 %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Refund Amount to Customer Account</label>
                                    <input type="text" class="form-control" name="stripe_amount" value="{{ product_order.paid_by_stripe }}">
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary me-1 mb-1 float-end">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>
<script>
    $("#myForm").validate({
        rules: {
            amount: {
                required: true,
                number: true
            },
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>
{% endblock script %}