{% extends 'base.html' %}
{% load static %}
{% block content%}
{% url 'resolved_contact_us_inquiry' as user_inquiry %}
{% include "includes/section.html" with page_title="Reply to User's Inquiry" btn_url=user_inquiry btn_text="Back" %}
<main class="main content-wrapper container">
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <div class="tab-content pt-4">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h6>Reply Details</h6>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Respondent Name :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.respondent_name }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Respondent Email :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.respondent_email}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Subject :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.subject}}</div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Date and Time of Reply:</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.created_at}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Reply :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.reply|safe}}</div>
                                </div>
                                <hr>
                                <h6>Inquiry Details</h6>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Name :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.name }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Email :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.email}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Subject :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.subject}}</div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Date and Time :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.created_at}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><strong>Inquiry :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ inquiry.inquiry|safe}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
