{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap"
    rel="stylesheet">
  <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% include 'email_html/includes/font.html' %}
</head>
<body style="font-family: 'Arial', sans-serif;background:#f1f1f1;margin:0px;">
  <table style="table-layout: fixed;border-spacing: 0;border-collapse: collapse;background-color: #fdfdfd;width:600px;margin:auto;background-image: url({% static 'email_template/images/Forgot-Password-1-ai.jpg' %});
   background-repeat: no-repeat;background-size:cover;border-collapse: separate;border-spacing:0px 0px;padding: 45px 55px 10px;background-position:top center;">
   {% comment %} https://megadolls.com/static/email_template/images/Forgot-Password-1-ai.jpg {% endcomment %}
    <!-- ---1st line---- -->
    <tr>
      <td style="width:100%;">
        <table style="width:100%; background: #fdfdfd;border-radius: 5px;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);min-height: 580px;">
          <tr>
            <td style="width:100%;text-align:center;vertical-align: top;padding-bottom: 10px;margin:0; overflow-wrap: anywhere">
              <br />
              {% comment %} <p style="font-size: 50px;color: #36b378;text-align: center;margin: auto;width: 70%;padding: 15px 0 0 0;line-height: 36px; font-family: Golden-Ranger;">Verify your login</p> {% endcomment %}
              <div style="text-align:center;margin: 50px 0px;">
                <img src="{% static 'email_template/images/title_image/OTP.png' %}" style="width:70%;">
              </div>
              <br /><br /><br />
              <p style="font-size: 18px;color: black;text-align: center;margin: auto;width: 70%;padding: 15px 0 0 0;line-height: 36px; font-family: 'Arial';">
                Please use the verification code below to verify your 
                email to Megadolls website.
              </p>
              <br />
              <p style="font-size: 36px;color: #111110;text-align: center;margin: auto;width: 70%;padding: 15px 0 0 0;line-height: 36px; font-family: 'Arial';"><u style="letter-spacing: 10px sspl;">{{ otp }}</u></p>
            </td>
          </tr>
          <tr>
            <td style="width:100%;text-align:right;">
              
              <a style=" background: -moz-linear-gradient(top, rgba(244,35,143,1) 0%, rgba(169,4,89,0.8) 100%);
                    background: -webkit-linear-gradient(top, rgba(244,35,143,1) 0%,rgba(169,4,89,0.8) 100%);
                    background: linear-gradient(to bottom, rgba(244,35,143,1) 0%,rgba(169,4,89,0.8) 100%);
                    background-color: rgb(244,35,143); display: block; border-radius: 5px; font-size: 15px; text-align: center; color: #fff; padding: 1px 5px; width: 160px; margin: auto; font-family: 'Arial'; text-decoration: none;
                      line-height: 45px;" href="{{link}}">Reset Password</a>
              <p style="font-size: 18px;color: black;text-align: center;margin: auto;width: 70%;padding: 15px 0 0 0;line-height: 36px; font-family: 'Arial';">If you did not request a password reset, <br /> you can safely ignore this email.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- ---End line---- -->
    <!-- ---3trd line---- -->
    {% include 'email_html/includes/social_link.html' %}
    <!-- ---End line---- -->
  </table>
  <!-- ---------next---------- -->
</body>
</html>
{% endspaceless %}