{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
  <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{% include 'email_html/includes/font.html' %}
</head>
<body style="font-family: 'Arial', sans-serif;background:#f1f1f1;margin:0px;">
  <table style="table-layout: fixed;border-spacing: 0;border-collapse: collapse;background-color: #fdfdfd;width:600px;margin:auto;background-image: url({% static 'email_template/images/gift-card-ai.jpg' %});
   background-repeat: no-repeat;background-size:cover;border-collapse: separate;border-spacing:0px 0px;padding: 35px 55px 10px;background-position:top center;">
   {% comment %} https://megadolls.com/static/email_template/images/gift-card-ai.jpg {% endcomment %}
    <tr>
      <td style="width:100%;">
        <table style="width:100%; background: #fdfdfd;border-radius: 5px;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);min-height: 250px;margin-bottom:20px;">
          <tr>
            <td>
              <div class="wish-img" style="padding: 20px">
                <div style="font-size: 32px;color: #15b3a7;text-align: center;margin: auto;width: 90%;padding: 15px 0 0 0;line-height:44px; font-family: Golden-Ranger;"></div>
                <br />
                <div style="margin: 0px 0px 175px; text-align:center;">
                  <img src="{% static 'email_template/images/title_image/gift-card-sender.png' %}" style="width:70%;">
                  {% comment %} <p style="font-size: 45px;color: #15b3a7;text-align: center;margin: auto;width: 90%;padding: 15px 0 0 0;line-height:44px; font-family: Golden-Ranger;">Your Gift Receipt</p> {% endcomment %}
                </div>
                <div style="margin: 0px 0px 175px; font-family: 'Arial';">
                  <p>Hi {{ sender_name }},</p>
                  <p>Thank you for using Megadolls.com to make someone smile.</p>
                  <p>All the best,<br /> The Megadolls Team</p>
                </div>
                
                <a  id="rec"  style="background-color: rgb(23,178,166); background: -moz-linear-gradient(top,  rgba(255,215,57,1) 50%, rgba(223,147,12,1) 101%); background: -webkit-linear-gradient(top,  rgba(255,215,57,1) 50%,rgba(223,147,12,1) 101%);
                  background: linear-gradient(to bottom,  rgba(255,215,57,1) 50%,rgba(223,147,12,1) 101%); display: block; border-radius: 5px; font-size: 15px; text-align: center; color: #fff; padding: 1px 5px; width: 160px;
                  margin: auto; text-decoration: none; font-family: 'Arial'; line-height: 38px;" href="{{receipt}}">Receipt</a>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- ---End line---- -->
    <!-- ---2nd line---- -->
      <tr>
        <td style="width:100%; padding-bottom: 20px;">
          <table style="width:100%; background: #fdfdfd;border-radius: 5px;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.11);min-height:60px;margin-top: 15px;">
              <tr>
                {% include 'email_html/includes/email-footer-links.html' %}
              </tr>
          </table>
        </td>
      </tr>
    <!-- ---End line---- -->
    <!-- ---3trd line---- -->
    {% include 'email_html/includes/social_link.html' %}
    <!-- ---End line---- -->
  </table>
</body>
</html>
{% endspaceless %}