{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
  <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% include 'email_html/includes/font.html' %}
</head>
<body style="font-family: 'M PLUS Rounded 1c', sans-serif;background:#f1f1f1;margin:0px;">

  <table style="table-layout: fixed;border-spacing: 0;border-collapse: collapse;background-color: #fdfdfd;width:600px;margin:auto;background-image: url({% static 'email_template/images/order-shipment-confirmation.jpg' %});
   background-repeat: no-repeat;background-size:cover;border-collapse: separate;border-spacing:0px 0px;padding: 45px 55px 10px;background-position:top center;">
  {% comment %} https://megadolls.com/static/email_template/images/order-shipment-confirmation.jpg {% endcomment %}

    <!-- ---1st line---- -->
      <tr>
        <td style="width:100%;">
          <table style="width:100%; background: #fdfdfd;border-radius: 5px;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);min-height: 580px;">
              <tr>
                <td style="width:100%;text-align:center;vertical-align: top;padding-bottom: 10px;margin:0; overflow-wrap: anywhere">
                  {% comment %} <p style="font-size: 54px;color: #fc57a9;text-align: center;margin: auto;width: 70%;padding: 15px 0 0 0;line-height: 52px; font-family: Brush Script MT;">
                      Your Megadolls <br /> is on its way!
                   </p>  {% endcomment %}
                  <div style="text-align:center;margin: 50px 0px;">
                    <img src="{% static 'email_template/images/title_image/order-shipment-confirmation.png' %}" style="width:70%;">
                  </div>
                </td>
              </tr>
              <tr>
                  <td>
                     <p style="font-size: 18px;color: black ;text-align: left;margin: auto;width: 90%;line-height: 32px; font-family: Golden-Ranger;" >
                          Hi, "{Consumer}",<br />
Great news, your order is on its way!<br />
You can check our shipping details or track your order
by clicking below.
                         <br /><br />

All the best,
                         <br />
The Megadolls Team
                      </p>
                  </td>
              </tr>
              <tr>
                <td style="width:100%;text-align:right;padding-bottom: 15px;vertical-align: bottom;">
                    
                    <a style="background-color: rgb(23,178,166);
                      background: -moz-linear-gradient(top, rgba(23,178,166,1) 0%, rgba(4,118,104,1) 100%);
                      background: -webkit-linear-gradient(top, rgba(23,178,166,1) 0%,rgba(4,118,104,1) 100%);
                      background: linear-gradient(to bottom, rgba(23,178,166,1) 0%,rgba(4,118,104,1) 100%);
                      display: block;
                      border-radius: 5px;
                      font-size: 15px;
                      text-align: center;
                      color: #fff;
                      padding: 1px 5px;
                      width: 160px;
                      margin: auto;
                      text-decoration: none;
                      font-family: 'Golden-Ranger';
                      line-height: 38px;" href="javascript:;">Track Order</a>
                </td>
              </tr>
          </table>
        </td>
      </tr>
    <!-- ---End line---- -->
    <!-- ---2nd line---- -->
      <tr>
        <td style="width:100%; padding-bottom: 40px;">
          <table style="width:100%; background: #fdfdfd;border-radius: 5px;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.11);min-height:80px;margin-top: 15px;">
              <tr>
                {% include 'email_html/includes/email-footer-links.html' %}
              </tr>
          </table>
        </td>
      </tr>
    <!-- ---End line---- -->
    <!-- ---3trd line---- -->
    {% include 'email_html/includes/social_link.html' %}
    <!-- ---End line---- -->
  </table>
   <!-- ---------next---------- -->
</body>
</html>
{% endspaceless %}